{block content}
<div class="jumbotron">
    <h1>Hello world!</h1>
    <p>Welcome...</p>
    <ul>
        <li><a href="http://127.0.0.1:9001/app/dev_tools#/console">Kibana</a></li>
        <li><a href="http://127.0.0.1:9200/">Elasticsearch API</a></li>
    </ul>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title">1. (delete and) create the index</h2>
        <p class="card-text">
            <a n:href="recreate!" class="card-link btn btn-danger">Delete and create the index</a>
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title">2. generate data</h2>
        <p class="card-text">
            {control generateForm}
        </p>
        <hr>
        <p class="card-text">Or go to <code>docker-compose exec app bash</code> and run <code>./bin/console app:generate 10000</code>.</p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title">3. see the reports</h2>
        <p class="card-text">
            <a n:href=":Reports:" class="card-link">Go to reports</a>
        </p>
    </div>
</div>

<h2>Indices</h2>
<table class="table table-borderless">
    <tr n:foreach="$indices as $index">
        <td><strong>{$index['index']}</strong></td>
        <td>{$index['docs.count']} docs + {$index['docs.deleted']} deleted</td>
        <td>{$index['store.size']}</td>
    </tr>
</table>
